<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/background.css') }}">
</head>
<body>
    <div class="container-login">
        <div class="box">
            <form class="login-form" action="{{ path('app_login') }}" method="POST">
                <img src="{{ asset('img/logo.svg') }}" alt="Logo" class="login-logo">

                {# Obsługa błędów #}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="input-group">
                    <input
                        name="_username"
                        type="text"
                        placeholder="Username"
                        required
                        autofocus
                        value="{{ last_username }}"
                    />
                </div>

                <div class="input-group">
                    <input
                        name="_password"
                        type="password"
                        placeholder="Password"
                        required
                    />
                </div>

                {# CSRF #}
                <input
                    type="hidden"
                    name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                />

                <button type="submit" class="button-login">Login</button>

                <p class="register-text">
                    Don’t have an account?
                    <a href="{{ path('app_register') }}" class="link-register">Create here</a>.
                </p>
            </form>
        </div>
    </div>
</body>
</html>
