{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja Aplikacja{% endblock %}</title>
    {# Globalne style CSS #}
    <link rel="stylesheet" href="{{ asset('css/background.css') }}">
    {# Specyficzne style CSS dla poszczególnych widoków #}
    {% block stylesheets %}
      {# Możesz tutaj dodać dodatkowe style specyficzne dla danej strony #}
    {% endblock %}
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ path('app_configuration_index') }}">Configuration</a></li>
          <li><a href="{{ path('app_dashboard_index') }}">Dashboard</a></li>
          <li><a href="{{ path('app_snmp_index') }}">SNMP</a></li>
          <li><a href="{{ path('app_users_list') }}">Users</a></li>
          <li><a href="{{ path('app_login') }}">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block body %}
        {# Tutaj wczytywana jest główna treść (z plików dzieci) #}
      {% endblock %}
    </main>

    <footer>
      <p>Stopka &copy; 2025</p>
    </footer>

    {# Możesz dodać skrypty JS, np.:
    <script src="{{ asset('js/app.js') }}"></script> #}
  </body>
</html>
